<a href="https://colab.research.google.com/github/sandesh0830/18CSE158/blob/main/Assignment%20-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ASSIGNMENT-1**
**Name - SANDESH KUMAR BEHERA**

**ROLL NO - 18CSE158**

**SUBJECT - DMDW LAB**

**(i) By using statistics module:**

In [ ]:
import statistics
res = [23 , 14 , 5 , 17 , 33 , 14 , 64 , 23 , 38 , 23 , 10 , 2 , 8 ]
p = statistics.mean(res)
q = statistics.median(res)
r = statistics.mode(res)

print("mean : ", p)
print("median: ",q)
print("mode : ",r)

mean :  21.076923076923077
median:  17
mode :  23

**(ii) By using Numpy and Scipy module :**

In [ ]:
import numpy
from scipy import stats
res = [23 , 14 , 5 , 17 , 33 , 14 , 64 , 23 , 38 , 23 , 10 , 2 , 8  ]

x = numpy.mean(res)
y = numpy.median(res)
z = stats.mode(res)
print("mean : ", x)
print("median: ", y)
print("mode : ", z)

mean :  21.076923076923077
median:  17.0
mode :  ModeResult(mode=array([23]), count=array([3]))

# **mean , median and mode without using library functions -**

In [ ]:
res = [23 , 14 , 5 , 17 , 33 , 14 , 64 , 23 , 38 , 23 , 10 , 2 , 8 ]
a = sum (res) / len (res)
b = sorted (res) [len (res) // 2]
c = max (res , key = res.count)

print("mean : ", a)
print("median: ", b)
print("mode : ", c)

mean :  21.076923076923077
median:  17
mode :  23

**(2) python code for calculating variance and standard deviation for the set of elements with and without using library functions :**

In [ ]:
l=[8,2,16,18,2,18,30,12]
m = sum(l) / len(l) 
v = sum([((x - m) ** 2) for x in l]) / len(l) 
d = v** 0.5
print("Variance :",v)
print("Standard deviation  : " ,d)

Variance : 76.9375
Standard deviation  :  8.771402396424417

**Variance and standard deviation with using library function -**

In [ ]:
import statistics
l=[4,36,8,29,6,8,25]
v = statistics.variance(l)
d = statistics.stdev(l)
print("Variance :",v)
print("Standard deviation  : " ,d)

Variance : 169.95238095238096
Standard deviation  :  13.036578575392431

 **(3) python programs with List, Tuple, Dictionary & string :**

In [ ]:
#creating a list and printing its value :
l = [12 , 4.56 , 'data' , 8 , True] #list can hold string , integer , float and boolean values.
print(l)

[12, 4.56, 'data', 8, True]

In [ ]:
##methods of lists :
l1= [12 , 4.56 , 'data' , 8 , True]
l2 = [5,10,80,60,10,5]

# index() : returns the index of the specified element in the list.
v = l1.index(True)
print(v)

# append() : Add a single element to the end of the list.
l1.append(30)
print(l1)

# extend() : adds all the elements to the end of the list.
l1.extend(l2)
print(l1)

# insert() :  inserts an element to the list at the specified index.
l2.insert(2, 50)
print(l2)

# count() : returns the number of times the specified element appears in the list.
c = l2.count(5)
print(c)

#len() : returns the length of the list.
s = len(l2)
print("length of the list l2 is : ",s)

# remove() : removes the first matching element from the list.
l2.remove(10)
print(l2)

# pop() : removes the item at the given index from the list and returns the removed item.
l2.pop(5)
print(l2)

# sort() : sorts the elements of a given list in a specific ascending or descending order.
l2.sort()
print(l2)

# copy() : returns a shallow copy of the list.
l3=l1.copy()
print(l3)

# clear() : removes all items from the list.
l2.clear()
print(l2)

4
[12, 4.56, 'data', 8, True, 30]
[12, 4.56, 'data', 8, True, 30, 5, 10, 80, 60, 10, 5]
[5, 10, 50, 80, 60, 10, 5]
2
length of the list l2 is :  7
[5, 50, 80, 60, 10, 5]
[5, 50, 80, 60, 10]
[5, 10, 50, 60, 80]
[12, 4.56, 'data', 8, True, 30, 5, 10, 80, 60, 10, 5]
[]

In [ ]:
#creating a tuple and printing it :
t = ("apple", "banana", "cherry")
print(t)

('apple', 'banana', 'cherry')

In [ ]:
#methods of tuple :
t1 = ('hello' , 20 , 80 , 'bye')
t2 = (28, 32, 49 , 12, 11)

# count( )  : returns the number of apperance of the elements.
print(t1.count('hello')) 

#index( ) : return the index of element.
print(t1.index(80)) 

# Membership operator
my_tuple = ('a', 'p', 'p', 'l', 'e',)
# In operation
print('a' in my_tuple)
print('b' in my_tuple)
# Not in operation
print('g' not in my_tuple)

# type() : return the type of object.
type(t1)

#len () : returns the length of the tuple.
print(len(t1))

# sorted() : sorts the elements of a given tuple in a specific ascending or descending order.
print(sorted(t2))

# max() : returns the maximum element of the tuple.
print(max(t2))

# min() : returns the minimum element of the tuple.
print(min(t2))

#del () : delete the tuple.
del (t1)

# sum () : sum of the element of tuple.
sum(t2)

1
2
True
False
True
4
[11, 12, 28, 32, 49]
49
11

132

In [ ]:
#creating a dictionary and printing it :
d = {"hello": 5, "hey": 2, "bye": 4}
print(d)

{'hello': 5, 'hey': 2, 'bye': 4}

In [ ]:
#methods of dictionary :
d1 = { 'apple': 2, 'orange': 3, 'grapes': 4 , 'green apple':5}

# values() : returns a view object that displays a list of all the values in the dictionary.
print(d1.values())

# items() : returns a view object that displays a list of dictionary's (key, value) tuple pairs.
print(d1.items())

# copy() : returns a copy of the dictionary.
d2 = d1.copy()
print(d2)

# clear() : removes all items from the dictionary.
d2.clear()
print(d2)

# fromkeys() : creates a new dictionary from the given sequence of elements with a value provided by the user.
keys = {'a', 'e', 'i', 'o', 'u' }
value = 'vowel'
vowels = dict.fromkeys(keys , value)
print(vowels)

# get() : returns the value for the specified key if key is in dictionary.
person = {'name': 'Phill', 'age': 22}
print('Name: ', person.get('name'))
print('Age: ', person.get('age'))

# pop() : removes and returns an element from a dictionary having the given key.
res = d1.pop('apple')
print(d1)

# popitem() : removes and returns the last element (key, value) pair inserted into the dictionary.
res2=d1.popitem()
print(d1)

# keys() : returns a view object that displays a list of all the keys in the dictionary.
person.keys()

# update() : updates the dictionary with the elements from the another dictionary object or from an iterable of key/value pairs.
d2={'pinapple':6}
d2.update(d1)
print(d2)

dict_values([2, 3, 4, 5])
dict_items([('apple', 2), ('orange', 3), ('grapes', 4), ('green apple', 5)])
{'apple': 2, 'orange': 3, 'grapes': 4, 'green apple': 5}
{}
{'u': 'vowel', 'i': 'vowel', 'o': 'vowel', 'e': 'vowel', 'a': 'vowel'}
Name:  Phill
Age:  22
{'orange': 3, 'grapes': 4, 'green apple': 5}
{'orange': 3, 'grapes': 4}
{'pinapple': 6, 'orange': 3, 'grapes': 4}

In [ ]:
#string methods :
s = "hayee"

# capitalize() : converts first character of a string to uppercase letter and lowercases all other characters, if any.
new = s.capitalize()
print(new)

# center() : returns a string which is padded with the specified character.
s1= "Python is is awesome"
s2 = s1.center(32 )
print(s2)

# count() : returns the number of occurrences of a substring in the given string.
s3 = 'is'
c = s1.count(s3)
print(c)

# find() : returns the index of first occurrence of the substring (if found). If not found, it returns -1.
q = 'Let it be'
result = q.find('Let it')
print( result)

# format() : formats the given string into a nicer output in Python.
print("Hello {}, your balance is {}.".format("Som", 340.2567))

#index() :d returns the index of a substring inside the string (if found). If the substring is not found, it raises an exception.
sentence = 'Python programming is fun.'
print(sentence.index('ing', 10))

# isalnum() :returns True if all characters in the string are alphanumeric (either alphabets or numbers). If not, it returns False.
name = "1234abc"
print(name.isalnum())

# isalpha() : returns True if all characters in the string are alphabets. If not, it returns False.
name = "Sandesh"
print(name.isalpha())

# isupper() : returns whether or not all characters in a string are uppercased or not.
string = "THIS IS GOD!"
print(string.isupper());

# islower() : returns True if all alphabets in a string are lowercase alphabets. If the string contains at least one uppercase alphabet, it returns False.
s = 'this is god'
print(s.islower())

Hayee
      Python is is awesome
2
0
Hello Som, your balance is 340.2567.
15
True
True
True
True